.page{
    font-family: Ubuntu;
    width: 60%;
    border: 3px solid black;
    margin: 28px auto;
    padding: 38px;
}
.dash{
    width:80%;
    height: 3px;
    background-color: #000;
}
section{
    margin-bottom: 20px;
}
h1, h2, h3{
    font-weight: normal;
}
h2{
    color: green;
    font-size: 18px;
}
h3{
    color: rgb(60, 138, 197);
    font-size: 20px;
}
h3, header p, section p{
    margin: 0
}
div.company-one{
    margin-bottom: 20px;
}
ul{
    padding-left: 30px
}
